DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,health.hunglin-dev.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://health.hunglin-dev.com,http://health.hunglin-dev.com
DJANGO_MEDIA_ROOT=/app/media

POSTGRES_DB=healthrisk
POSTGRES_USER=healthrisk
POSTGRES_PASSWORD=healthrisk
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=clinic_admin
DJANGO_SUPERUSER_EMAIL=clinic@example.com
DJANGO_SUPERUSER_PASSWORD=demo123
DJANGO_DEMO_LOGIN_PREFILL=1
DJANGO_DEMO_LOGIN_USERNAME=clinic_admin
DJANGO_DEMO_LOGIN_PASSWORD=demo123
CREATE_DEMO_USERS=1
