.env
db.sqlite3
**/db.sqlite3
media/
**/media/
staticfiles/
**/staticfiles/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.idea/
.vscode/
.DS_Store
server.err.log
server.out.log
**/server.err.log
**/server.out.log
private_data/
**/private_data/
**/2_UMU_primer_Tm_info_json_deidentified_2.csv
